.list-wrapper{
    width:90%;
    margin: auto;
}
.list-wrapper .pokemon-item{
    margin: 10px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 2px solid coral;
    border-radius: 7px;
    padding: 10px;
}
.list-wrapper a {
    text-decoration: none;
    color: black;
}
.poke{
    width: 90%;
    margin: auto;
}
.pokemon-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pokemon-wrapper .item{
    width: 30%;
}
.search-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin:20px 0;
}
.pagination{
    display: flex;
    width: 500px;
    margin: auto;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    margin-top: 25px;
}
.pagination a{
    color: white;
    padding: 10px;
    background: tomato;
    border-radius: 40px;
    cursor: pointer;
}
.search_bar{
    margin-left:10px ;
    margin-right: 10px;
    outline: none;
}
.search_bar:focus{
    border: 1px solid rgb(240, 47, 13);
    padding: 2px;
}
.search_btn{
    background: tomato;
    border: none;
    padding: 4px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.search_btn:hover{
    background: rgb(240, 47, 13);
}